
{% extends "templates/custom_base.html" %}

{% block content %}

<body>
    <!-- Scroll-top -->
    <button class="scroll__top scroll-to-target" data-target="html">
        <i class="tg-flaticon-arrowhead-up"></i>
    </button>
    <!-- Scroll-top-end-->

    <!-- header-area -->
    <!-- header-area-end -->



    <!-- main-area -->
    <main class="main-area fix">

                <!-- choose-area -->
                <section class="choose__area-two section-py-140 choose__bg" data-background="assets/tnc_frappe_custom_app/tnc/img/bg/h4_choose_bg.jpg">
                    <div class="container" data-aos="fade-up" data-aos-delay="200">
                        <div class="row align-items-center justify-content-center">
                            <div class="col-lg-6 col-md-10">
                                <div class="choose__img-two">
                                    <img src="assets/tnc_frappe_custom_app/tnc/img/others/h4_choose_img.jpg" alt="img" data-aos="fade-right" data-aos-delay="250">
                                    <div class="circle__text-wrap">
                                        <div class="icon">
                                            <img src="assets/tnc_frappe_custom_app/tnc/img/icons/circle_icon.svg" alt="" class="injectable">
                                        </div>
                                        <div class="content">
                                            <h6 class="circle rotateme">Learn . Succeed . Grow . Excel .</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="choose__content-two">
                                    <div class="section__title mb-20">
                                        <h2 class="title-two"><span>Premier Institute for </span> Nursing Exam <span>Preparation </span> Success</h2>
                                    </div>
                                    <p>TNC Nursing is a top-tier institute dedicated to preparing students for competitive nursing exams with high success rates and expert guidance.</p>
                                    <div class="choose__content-inner">
                                        <div class="row align-items-center gutter-20">
                                            <div class="col-sm-5 order-0 order-sm-2">
                                                <div class="choose__content-inner-img">
                                                    <img src="assets/tnc_frappe_custom_app/tnc/img/others/h4_choose_img02.jpg" alt="img" data-aos="fade-left" data-aos-delay="300">
                                                </div>
                                            </div>
                                            <div class="col-sm-7">
                                                <ul class="about__info-list list-wrap">
                                                    <li class="about__info-list-item">
                                                        <i class="flaticon-angle-right"></i>
                                                        <p class="content">High success rates in exams</p>
                                                    </li>
                                                    <li class="about__info-list-item">
                                                        <i class="flaticon-angle-right"></i>
                                                        <p class="content">Online and offline course options</p>
                                                    </li>
                                                    <li class="about__info-list-item">
                                                        <i class="flaticon-angle-right"></i>
                                                        <p class="content">Expert faculty and personalized guidance</p>
                                                    </li>
                                                </ul>
                                                <a href="contact.html" class="btn arrow-btn">Get in Touch <img src="assets/tnc_frappe_custom_app/tnc/img/icons/right_arrow.svg" alt="" class="injectable"></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- choose-area-end -->

        <!-- brand-area -->
        <!-- <div class="brand-area">
            <div class="container-fluid">
                <div class="marquee_mode">
                    <div class="brand__item">
                        <a href="#"><img src="assets/tnc_frappe_custom_app/tnc/img/brand/brand01.png" alt="brand"></a>
                        <img src="assets/tnc_frappe_custom_app/tnc/img/icons/brand_star.svg" alt="star">
                    </div>
                    <div class="brand__item">
                        <a href="#"><img src="assets/tnc_frappe_custom_app/tnc/img/brand/brand02.png" alt="brand"></a>
                        <img src="assets/tnc_frappe_custom_app/tnc/img/icons/brand_star.svg" alt="star">
                    </div>
                    <div class="brand__item">
                        <a href="#"><img src="assets/tnc_frappe_custom_app/tnc/img/brand/brand03.png" alt="brand"></a>
                        <img src="assets/tnc_frappe_custom_app/tnc/img/icons/brand_star.svg" alt="star">
                    </div>
                    <div class="brand__item">
                        <a href="#"><img src="assets/tnc_frappe_custom_app/tnc/img/brand/brand04.png" alt="brand"></a>
                        <img src="assets/tnc_frappe_custom_app/tnc/img/icons/brand_star.svg" alt="star">
                    </div>
                    <div class="brand__item">
                        <a href="#"><img src="assets/tnc_frappe_custom_app/tnc/img/brand/brand05.png" alt="brand"></a>
                        <img src="assets/tnc_frappe_custom_app/tnc/img/icons/brand_star.svg" alt="star">
                    </div>
                    <div class="brand__item">
                        <a href="#"><img src="assets/tnc_frappe_custom_app/tnc/img/brand/brand06.png" alt="brand"></a>
                        <img src="assets/tnc_frappe_custom_app/tnc/img/icons/brand_star.svg" alt="star">
                    </div>
                    <div class="brand__item">
                        <a href="#"><img src="assets/tnc_frappe_custom_app/tnc/img/brand/brand07.png" alt="brand"></a>
                        <img src="assets/tnc_frappe_custom_app/tnc/img/icons/brand_star.svg" alt="star">
                    </div>
                    <div class="brand__item">
                        <a href="#"><img src="assets/tnc_frappe_custom_app/tnc/img/brand/brand04.png" alt="brand"></a>
                        <img src="assets/tnc_frappe_custom_app/tnc/img/icons/brand_star.svg" alt="star">
                    </div>
                    <div class="brand__item">
                        <a href="#"><img src="assets/tnc_frappe_custom_app/tnc/img/brand/brand03.png" alt="brand"></a>
                        <img src="assets/tnc_frappe_custom_app/tnc/img/icons/brand_star.svg" alt="star">
                    </div>
                </div>
            </div>
        </div> -->
        <!-- brand-area-end -->

         <!-- features-area -->
         <section class="instructor__area" data-aos="fade-up" data-aos-delay="200">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-6 col-lg-8">
                        <div class="section__title text-center mb-40">
                            <span class="sub-title">Why Choose Us?</span>
                            <h2 class="title">Choose Excellence: Join TNC Nursing</h2>
                            <p>Join TNC Nursing for expert guidance, proven success, <br> and tailored learning experiences.</p>
                        </div>
                    </div>
                </div>
                <div class="features__item-wrap">
                    <div class="row justify-content-center">
                        <div class="col-lg-4 col-md-6"  data-aos="fade-right" data-aos-delay="200">
                            <div class="features__item-two">
                                <div class="features__content-two">
                                    <div class="content-top">
                                        <div class="features__icon-two">
                                            <img src="assets/tnc_frappe_custom_app/tnc/img/icons/h2_features_icon01.svg" alt="img" class="injectable">
                                        </div>
                                        <h2 class="title">Expert Faculty</h2>
                                    </div>
                                    <p>Gain insights from experienced professionals with vast expertise in nursing education and practice.</p>
                                </div>
                                <div class="features__item-shape">
                                    <img src="assets/tnc_frappe_custom_app/tnc/img/others/features_item_shape.svg" alt="img" class="injectable">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="250">
                            <div class="features__item-two">
                                <div class="features__content-two">
                                    <div class="content-top">
                                        <div class="features__icon-two">
                                            <img src="assets/tnc_frappe_custom_app/tnc/img/icons/h2_features_icon02.svg" alt="img" class="injectable">
                                        </div>
                                        <h2 class="title">Proven Success</h2>
                                    </div>
                                    <p>Achieve your professional career goals with our exceptional high success rate in competitive nursing exams.</p>
                                </div>
                                <div class="features__item-shape">
                                    <img src="assets/tnc_frappe_custom_app/tnc/img/others/features_item_shape.svg" alt="img" class="injectable">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6" data-aos="fade-left" data-aos-delay="300">
                            <div class="features__item-two">
                                <div class="features__content-two">
                                    <div class="content-top">
                                        <div class="features__icon-two">
                                            <img src="assets/tnc_frappe_custom_app/tnc/img/icons/h2_features_icon03.svg" alt="img" class="injectable">
                                        </div>
                                        <h2 class="title">Comprehensive Resources</h2>
                                    </div>
                                    <p>Access a comprehensive range of study materials, practice exams, interactive quizzes, and online learning tools.</p>
                                </div>
                                <div class="features__item-shape">
                                    <img src="assets/tnc_frappe_custom_app/tnc/img/others/features_item_shape.svg" alt="img" class="injectable">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- features-area-end -->

                <!-- about-area -->
                <section class="about-area-two tg-motion-effects section-pb-120">
                    <div class="container" data-aos="fade-up" data-aos-delay="200">
                        <div class="row align-items-center justify-content-center">
                            <div class="col-lg-6">
                                <div class="faq__img-wrap tg-svg">
                                    <!-- <div class="faq__round-text">
                                        <div class="curved-circle">
                                            * Education * System * can * Make * Change *
                                        </div>
                                    </div> -->
                                    <div class="faq__img faq__img-two" data-aos="fade-right" data-aos-delay="300">
                                        <img src="assets/tnc_frappe_custom_app/tnc/img/others/Bhojraj.png" alt="img">
                                        <div class="shape-one">
                                            <img src="assets/tnc_frappe_custom_app/tnc/img/others/faq_shape01.svg" class="injectable tg-motion-effects4" alt="img">
                                        </div>
                                        <div class="shape-two">
                                            <span class="svg-icon" id="faq-two-svg" data-svg-icon="assets/tnc_frappe_custom_app/tnc/img/others/faq_shape02.svg"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="about__content" data-aos="fade-left" data-aos-delay="250">
                                    <div class="section__title">
                                        <span class="sub-title">About Our Founder</span>
                                        <h2 class="title">
                                            Visionary Leadership in Nursing Education Excellence
                                            <!-- <span class="position-relative">
                                                <svg x="0px" y="0px" preserveAspectRatio="none" viewBox="0 0 209 59" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M4.74438 7.70565C69.7006 -1.18799 136.097 -2.38304 203.934 4.1205C207.178 4.48495 209.422 7.14626 208.933 10.0534C206.793 23.6481 205.415 36.5704 204.801 48.8204C204.756 51.3291 202.246 53.5582 199.213 53.7955C136.093 59.7623 74.1922 60.5985 13.5091 56.3043C10.5653 56.0924 7.84371 53.7277 7.42158 51.0325C5.20725 38.2627 2.76333 25.6511 0.0898448 13.1978C-0.465589 10.5873 1.61173 8.1379 4.73327 7.70565" fill="currentcolor" />
                                                </svg>
                                                Courses
                                            </span> -->
                                        </h2>
                                    </div>
                                    <p class="desc">Bhojraj Palariya, the visionary founder of TNC Nursing, is committed to empowering aspiring nurses through high-quality training. With years of experience in education, he aims to help students excel in competitive nursing exams and build successful careers.</p>
                                    <p class="desc">Under his leadership, TNC Nursing has gained trust in the industry for its expert faculty, structured study plans, and high success rates. His dedication to excellence drives the institution’s mission to shape the future of nursing professionals.</p>
                                    <h6><i>-Bhojraj Palariya</i></h6>
                                    <p>Founder, TNC Nursing</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <!-- about-area-end -->

                        <!-- instructor-area -->
        <!-- <section class="instructor__area-five section-mt-25 section-pb-110">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-6 col-lg-8">
                        <div class="section__title text-center mb-45">
                            <span class="sub-title">Our Instructors</span>
                            <h2 class="title">Meet Our Expert Instructors</h2>
                            <p>Groove’s intuitive shared inbox makesteam members together prioritiz dIn this episode.Dorem ipsusitt amet consectur</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-sm-6">
                        <div class="instructor__item-four">
                            <div class="instructor__thumb-four">
                                <a href="instructor-details.html">
                                    <img src="assets/tnc_frappe_custom_app/tnc/img/instructor/h4_instructor01.jpg" alt="img">
                                </a>
                            </div>
                            <div class="instructor__content-four">
                                <h2 class="title"><a href="instructor-details.html">Layla Santiago</a></h2>
                                <span>Pilates Instructor</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="instructor__item-four">
                            <div class="instructor__thumb-four">
                                <a href="instructor-details.html">
                                    <img src="assets/tnc_frappe_custom_app/tnc/img/instructor/h4_instructor02.jpg" alt="img">
                                </a>
                            </div>
                            <div class="instructor__content-four">
                                <h2 class="title"><a href="instructor-details.html">ZenVib Yoga</a></h2>
                                <span>Pilates Instructor</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="instructor__item-four">
                            <div class="instructor__thumb-four">
                                <a href="instructor-details.html">
                                    <img src="assets/tnc_frappe_custom_app/tnc/img/instructor/h4_instructor03.jpg" alt="img">
                                </a>
                            </div>
                            <div class="instructor__content-four">
                                <h2 class="title"><a href="instructor-details.html">Zenni Motion</a></h2>
                                <span>Pilates Instructor</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="instructor__item-four">
                            <div class="instructor__thumb-four">
                                <a href="instructor-details.html">
                                    <img src="assets/tnc_frappe_custom_app/tnc/img/instructor/h4_instructor04.jpg" alt="img">
                                </a>
                            </div>
                            <div class="instructor__content-four">
                                <h2 class="title"><a href="instructor-details.html">Joyful Zen</a></h2>
                                <span>Pilates Instructor</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section> -->
        <!-- instructor-area-end -->

    </main>
    <!-- main-area-end -->

    <!-- footer-area -->
    <!-- footer-area-end -->


    <!-- JS here -->
    <script src="assets/tnc_frappe_custom_app/tnc/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="assets/tnc_frappe_custom_app/tnc/js/bootstrap.min.js"></script>
    <script src="assets/tnc_frappe_custom_app/tnc/js/imagesloaded.pkgd.min.js"></script>
    <script src="assets/tnc_frappe_custom_app/tnc/js/jquery.magnific-popup.min.js"></script>
    <script src="assets/tnc_frappe_custom_app/tnc/js/jquery.odometer.min.js"></script>
    <script src="assets/tnc_frappe_custom_app/tnc/js/jquery.appear.js"></script>
    <script src="assets/tnc_frappe_custom_app/tnc/js/tween-max.min.js"></script>
    <script src="assets/tnc_frappe_custom_app/tnc/js/select2.min.js"></script>
    <script src="assets/tnc_frappe_custom_app/tnc/js/swiper-bundle.min.js"></script>
    <script src="assets/tnc_frappe_custom_app/tnc/js/jquery.marquee.min.js"></script>
    <script src="assets/tnc_frappe_custom_app/tnc/js/tg-cursor.min.js"></script>
    <script src="assets/tnc_frappe_custom_app/tnc/js/vivus.min.js"></script>
    <script src="assets/tnc_frappe_custom_app/tnc/js/ajax-form.js"></script>
    <script src="assets/tnc_frappe_custom_app/tnc/js/svg-inject.min.js"></script>
    <script src="assets/tnc_frappe_custom_app/tnc/js/jquery.circleType.js"></script>
    <script src="assets/tnc_frappe_custom_app/tnc/js/jquery.lettering.min.js"></script>
    <script src="assets/tnc_frappe_custom_app/tnc/js/plyr.min.js"></script>
    <script src="assets/tnc_frappe_custom_app/tnc/js/wow.min.js"></script>
    <script src="assets/tnc_frappe_custom_app/tnc/js/aos.js"></script>
    <script src="assets/tnc_frappe_custom_app/tnc/js/main.js"></script>
    <script>
        SVGInject(document.querySelectorAll("img.injectable"));
    </script>
<script>
    const text = document.querySelector('.circle');
    text.innerHTML = text.textContent.replace(/\S/g, "<span>$&</span>");
    const element = document.querySelectorAll('.circle span');
    for (let i = 0; i < element.length; i++) {
        element[i].style.transform = "rotate(" + i * 13 + "deg)"
    }
</script>
</body>

{% endblock %}

<!-- Mirrored from html.themegenix.com/skillgro/about-us.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 21 Sep 2024 05:02:49 GMT -->